/* ad */
.ad-wrap-2 {
    border: 3px solid white;
    width: 350px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

.ad-wrap-1 {
    border: 3px solid white;
    width: 320px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

/*navigation bar*/
.nav-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    transition: ease-in 0.2s;
    /* box-shadow: 0 2px 4px 0 rgba(131, 130, 130, 0.2); */
}
.mnav-bar{
    display: none;
}

.list-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    transition: ease-in 0.4s;

}

.list {
    display: flex;
    width: 140vw;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    position: relative;
    font-size: 1.2rem;
    top: 0px;
    background-color: #ffffff;
    transition: ease-in 0.2s;
    animation: 0.3s slide both;
}

@keyframes slide {
    from {
        top: -30px;
    }
}

.list a {
    text-decoration: none;
    color: #7b9acc;
}








@media screen and (max-width: 600px) {
    .ad-wrap-2 {
        border: 3px solid white;
        width: 350px;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }

    .ad-wrap-1 {
        border: 3px solid white;
        width: 320px;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }

    /*navigationbar*/
    nav {
        margin-top: 20px;
    }

    .nav-bar{
        display: none;
    }
    .mnav-bar{
        transform: translateY(-300px);
        display: flex;
        position: fixed;
        z-index: 1;
        height: 300px;
        width: 100%;
        transition: ease-in 0.4s;
        margin: 0 auto;
    }
    .list-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        transition: ease-in 0.5s;
    }

    .list {
        width: 100%;
        height: 100%;
        padding: 0px;
  
        margin: 0 auto;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-in 0.5s;
        position: relative;
        font-size: 2rem;
        top: 0px;
        animation: 0.3s slide both;
    }
    .list a{
        padding: 0;
        transition: all 0.5s;
    }
    .list a:hover{
        background-color: antiquewhite;
    }

    /* 햄버거 버튼 */
    .hambuger{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 2;
        width: 45px;
        height: 35px;
        top: 15px;
        right: 30px;
        transition: all 0.5s;
    }
    .hambuger div{
        width: 100%;
        height: 4px;
        background-color: rgb(221, 218, 218);
        border-radius: 13%;
        
    }
    .buger_item{
        transition:all 0.5s;
    }
}