body {
  margin: 0;
  padding: 0;
  background-color: #F7F8FB;
  color: #7b9acc;
  font-family: 'Jua', sans-serif;
  transition: ease-in 0.5s;
}


.share_text {
  transition: all 0.5s;
  animation: 2s repeat infinite;
  -webkit-animation: 2s repeat infinite;
  font-size: 1.1rem;
}

#mobile {
  display: none;
}

@keyframes repeat {
  50% {
    font-size: 1.3rem;
  }

  100% {
    font-size: 1.1rem;
  }
}

@-webkit-keyframes repeat {
  50% {
    -webkit-font-size: 1.3rem;
  }

  100% {
    -webkit-font-size: 1.1rem;
  }
}

/* loading bar */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(216, 157, 255);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}


/*email*/
.email-wrap {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
}


.email-img {
  background-color: rgb(197, 209, 253);
  text-align: center;
  border-radius: 8px;
  margin-left: 10px;
  margin-top: 17px;
  width: 30px;
  height: 30px;
}


.prediction-age {
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  color: #4e4e4e;
  background-color: #f8cfb3;
  animation: 1s down both;
}

@keyframes down {
  from {
    margin-top: 0px;
  }
}

/*label-bar*/
.label-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.label-name {
  width: 60px;
}

.label-bar {
  background-color: #e0e8f5;
  border-radius: 10px;
}

/*age label*/
.baby-label {
  background-color: #ff86eb;
  animation: 2s show both;
}

.one-label {
  background-color: #e97062;
  animation: 2s show both;
}

.two-label {
  background-color: rgb(236, 203, 143);
  animation: 2s show both;
}

.three-label {
  background-color: rgb(255, 218, 218);
  animation: 2s show both;
}

.four-label {
  background-color: #bae7af;
  animation: 2s show both;
}

.five-label {
  background-color: rgb(182, 182, 255);
  animation: 2s show both;
}

@keyframes show {
  from {
    width: 0%;
  }
}








.license {
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
  border-radius: 5px;
  color: rgb(86, 115, 235);
  background-color: rgb(224, 230, 251);
}

.license:nth-child(1) {
  text-align: center;
  width: 120px;
}

.license:nth-child(2) {
  border: 3px solid red;
}


.email {
  border-radius: 5px;
  color: rgb(86, 115, 235);
  background-color: rgb(224, 230, 251);
  width: 200px;
  height: 23px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.developer {
  position: relative;
  left: 50px;
}





.sec {
  text-align: center;
  transition: ease-in 0.5s;
  transform: scale(45px);
  position: relative;
  top: 0px;
  animation: 0.8s slide both;
}


/*dark mode switch*/

#moon {
  background-color: rgb(20, 22, 26);
  margin: 0;
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  top: 0px;
  animation: 0.5s slide both;
}

#half {

  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #FCF6F5;

}

.label-box {

  width: 30px;
  height: 30px;
  margin: 0 auto;
}





/* pc화면일때 */
@media screen and (min-width: 600px) {
  /*사진업로드 박스*/
  /* .container{
  border-radius: 20px;
  background-color: white;
  border: 3px solid ;
  width: 50%;
  height: 400px;
  padding: 0;
  margin: 0 auto;
}
.file-upload{
  border-radius: 20px;
   border: 3PX solid blue;
   width: 70%;
   height: 60%;
   margin: 0 auto;
   margin-top: 13%;
}
} */




  /*사진업로드 박스*/
  .file-upload {
    background-color: #ffffff;
  
    border-radius: 10px;
    width: 600px;
    height: 50%;
    position: relative;
    top: 0px;
    margin: 0 auto;
    padding: 40px 40px 80px 40px;
    transition: ease-in 0.5s;
    animation: 1s slide both;
  }


  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }

  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }

  .file-upload-content {
    display: none;
    text-align: center;
    margin-top: 50px;
  }

  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }


  .image-upload-wrap {
    margin-top: 50px;
    border: 4px dashed #7b9acc;
    position: relative;
    padding: 50px;
  }

  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #f6f7fa;
    border: 4px dashed #b3c4f8;
  }

  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }

  .drag-text {
    text-align: center;
  }

  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #7b9acc;
    padding: 60px 0;
  }

  .file-upload-image {
    border-radius: 30px;
    max-height: 400px;
    max-width: 400px;
    margin: auto;
    padding: 20px;

  }

  .reload-image {
    width: 200px;
    background-color: rgba(235, 83, 116, 0.082);
    /*dark rgba(235, 83, 116, 0.082);*/
    color: rgb(235, 83, 116);
    /*dark rgb(235, 83, 116);*/
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
  }


}

/*모바일 화면일 때*/
@media screen and (max-width: 600px) {

 

  @keyframes slide {
    from {
      top: -30px;
    }
  }

  .list a {
    text-decoration: none;
    color: #7b9acc;
  }

  /*사진업로드 박스*/
  .file-upload {
    background-color: #ffffff;

    border-radius: 10px;
    width: 300px;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 80px;
    transition: ease-in 0.5s;
    position: relative;
    top: 0px;
    animation: 1s slide both;
  }

  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }

  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }

  .file-upload-content {
    display: none;
    text-align: center;
    margin-top: 30px;
  }

  .file-upload-input {
    border: 3px solid red;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }

  .image-upload-wrap {
    margin-top: 50px;
    border: 4px dashed #7b9acc;
    position: relative;
    padding: 50px;
  }

  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #f6f7fa;
    border: 4px dashed #b3c4f8;
  }

  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }

  .drag-text {
    text-align: center;
  }

  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #7b9acc;
    padding: 60px 0;
  }

  .file-upload-image {
    border-radius: 30px;
    max-height: 250px;
    max-width: 250px;
    margin: auto;
    padding: 20px;
  }

  .reload-image {
    width: 200px;
    background-color: rgba(235, 83, 116, 0.082);
    /*dark rgba(235, 83, 116, 0.082);*/
    color: rgb(235, 83, 116);
    /*dark rgb(235, 83, 116);*/
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
  }

  /* 공유 추천 텍스트 */

  #pc {
    display: none;
  }

  #mobile {
    display: block;
  }

  #mobile:nth-child(2) {
    margin-bottom: 0;
  }

  #mobile:nth-child(3) {
    margin-top: 0;
  }

  @keyframes repeat {
    50% {
      font-size: 1.3rem;
    }

    100% {
      font-size: 1.1rem;
    }
  }



}